@import url('../styles/variables.css');

.park h3 {
    color: var(--heading-color);
}
.images figure img {
    max-width: 100%;
}
.images figure  {
    margin: 0;
    padding: 0.5rem;
    border: thin solid black;
}
.images {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
}
